.sidebar {
    height: 100vh;
    background-color: #343a40;
}   
.nav-link {
    color: #ffffff;
    border-radius: 4px;
    transition: background-color 0.3s;
    width: 100%;
}
nav{
    width: 100%;
}
.nav-link:hover {
    background-color: #495057;
    color: #f8f9fa;
}

.nav-link.active {
    background-color: #694ba1;
    color: #ffffff;
}

.card {
    background-color: #2d2f36;
    color: #ffffff;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card .card-title {
    font-size: 1.25rem;
    color: #d39e00;
}

.card .list-group-item {
    background-color: #3e4045;
    border: none;
    color: #d1d1d1;
}

.card-link {
    color: #6c757d;
    transition: color 0.3s;
}

.card-link:hover {
    color: #ffc107;
}

#cards-place {
    padding: 1rem;
    border-radius: 8px;
    border-radius: 0rem;
    background-color: rgb(62, 55, 69);
}
body {
    transition: all 0.3s ease;
}

footer {
    position: relative;
    padding: 1rem;
    background-color: #212529;
}

.nav-link, .card-link {
    transition: all 0.3s ease;
}
