/* Estilos personalizados para a página Time Wizard com esquema escuro e tons de roxo */
body{
  background-color: #282828; /* Fundo escuro */
  color: #ffffff; /* Texto branco */
  font-family: 'Arial', sans-serif;
}
.custom-button {
  background-color: transparent;
  color: #b084cc;
  border: 2px solid #b084cc;
  transition: background-color 0.3s, color 0.3s;
}
.custom-button:hover {
  background-color: #b084cc;
  color: #1a1a2e;
}
#hero {
  background-color: #2b1d41; /* Fundo roxo escuro */
  color: #ffffff;
}
#features { 
  color: #ffffff;
}
.text-purple {
  color: #b084cc; /* Roxo claro */
}
#about {
  background-color: #2e2e4d;
  color: #ffffff;
}
